<!DOCTYPE html>
<html>
    <head>
        <script src="static/mywebscript.js"></script>
        <link rel="stylesheet" href="/static/css/styles.css"/>
        <title>Emotion Detection</title>
    </head>
    <body>
        <div class="container">
            <h1 class="center-heading" style="padding-bottom: 2rem;">NLP - Emotion Detection</h1> 
            <form>
              <input placeholder="Text to analyze" type="textarea" required="" id="textToAnalyze">
                <br>
              <button type="button" onclick="RunSentimentAnalysis()">Run Emotion Analysis</button>
            </form>
            <div style="padding: 25px 25px 25px 25px;"></div>
            <h2 class="mb-3">
                <label class="form-label">Result of Emotion Detection</label>
            </h2>

            <div  class="box" id="system_response" style="font-size: 18px; font-weight: 400;"></div>
            
            <p class="maxEmotion" id="maxEmotion">Max Emotion</p>
        </div>
    </body>
</html>